name: Deploy with Maven

on:
  workflow_dispatch:

jobs:
  build_test:
    uses: ./.github/workflows/maven.yml

  deploy:
    needs: build_test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - uses: s4u/maven-settings-action@v4.0.0
        with:
          servers: |
            [{
                "id": "central",
                "username": "${{ secrets.CENTRAL_USERNAME }}",
                "password": "${{ secrets.CENTRAL_TOKEN }}"
            }]

      - uses: sdkman/sdkman-action@main
        id: sdkman
        with:
          candidate: jextract
          version: 22.ea.6

      - name: Deploy with Maven
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
          MAVEN_GPG_KEY: ${{ secrets.MAVEN_GPG_KEY }}
        run: |
          ./prepare.sh
          mvn -B -ntp -f jgpio/pom.xml -P release deploy -DskipTests -Dgpg.signer=bc -Djextract.bin=../jextract/bin/jextract

  create_tag:
    needs: deploy
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Get version
        id: get_version
        run: echo "version=$(mvn -f jgpio/pom.xml help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"

      - name: Create v${{steps.get_version.outputs.version}} tag
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{steps.get_version.outputs.version}}',
              sha: context.sha
            })
