name: Java CI with Maven

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: maven

      - uses: sdkman/sdkman-action@main
        id: sdkman
        with:
          candidate: jextract
          version: 22.ea.6

      - name: Check sources with Maven
        run: |
          mvn -B -ntp -f jgpio/pom.xml license:check
        # TODO check formatting

      - name: Build with Maven
        run: |
          ./prepare.sh
          mvn -B -ntp -f jgpio/pom.xml install
          mvn -B -ntp -f jgpio-it/pom.xml package
          mvn -B -ntp -f examples/pom.xml package

  test-it:
    needs: build
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: maven

      - uses: sdkman/sdkman-action@main
        id: sdkman
        with:
          candidate: jextract
          version: 22.ea.6

      - name: Test IT
        run: |
          ./prepare.sh
          mvn -B -ntp -f jgpio/pom.xml install
          mvn -B -ntp -f jgpio-it/pom.xml verify
